.action-icon
    display block
    width 20px
    height 20px
    background-image url("../images/sprite-files.svg")

    &.file-uploader
        background-position 0 0

    &.folder-uploader
        background-position -20px 0

    &.folder-new
        background-position -40px 0
