.action-icon
    display block
    width 20px
    height 20px
    background-image url("../images/sprite-files.svg")

    &.file-uploader
        background-position 0 0

    &.folder-uploader
        background-position -20px 0

    &.folder-new
        background-position -40px 0


// Files Types
.icon-type
    position         relative
    flex             none
    margin           0 1.5rem 0 0
    width            32px
    height           32px
    background-image url("../images/sprite-files-type.svg")

    &.type-folder
        background-position 0 0

    &.type-file
        background-position -32px 0

    &.type-archive
        background-position -64px 0

    &.type-code
        background-position -96px 0

    &.type-text
        background-position -128px 0

    &.type-presentation
        background-position -160px 0

    &.type-spreadsheet
        background-position -192px 0

    &.type-pdf
        background-position -224px 0

    &.type-binary
        background-position -256px 0

    &.type-audio
        background-position -288px 0

    &.type-video
        background-position -320px 0

    &.type-image
        background-position -352px 0

    &.type-thumb
        background-position -352px 0
        border                 1px solid #727272
        border-radius        3px



.edit-mode .icon-type
    // display the folder icon when creating a new folder
    display inline-block
    // fix horizontal positioning
    margin-left -1px

