@import 'nib'
@import '_colors'


// File table


// Layout
#files
    display flex
    flex-direction column

    .file-info
        position : absolute
        z-index  : 1000
        display  : none
    .ease
        transition: top 0.2s ease

    [role="grid"]
        flex 1
        position relative

    footer
        margin-top auto


    [role="rowheader"]
    .long-list-row
        display flex

        // First column
        .extensible-column
            flex 1

        // Second and third column
        .size-column-cell
        .type-column-cell
            width 10rem

        // Last column
        .date-column-cell
            width 20rem

        // .type-column + .date-column
        .progressbar-cell
            width 30rem

        // Center vertically all cell elements.
        [role="gridcell"]
            display flex

            @media (max-width: (1000/16)em)
                &.type-column-cell
                &.date-column-cell
                &.size-column-cell
                    display none

            @media (max-width: (1200/16)em)
                &.type-column-cell
                    display none

            & > *
                flex 1
                margin auto 0
                display inline-block

            // Toggle operations icon's visibility on hover.
            &.extensible-column

                .spinholder
                .operations
                    display none

                &:hover .operations
                    display inline-block

            .progress
                margin 0

    [role="rowheader"]
        @media (max-width: (1000/16)em)
            display none

    [role="columnheader"]
        #down-name
        #down-size
        #down-class
        #down-lastModification
            display none


// Styles
#files

    // List's header.
    [role="rowheader"]
        padding 0 2rem
        border-bottom 1px solid #d5d5d5

        [role="columnheader"]
            padding 0
            border-color #dcdcdc
            border-top 0
            border-width 1px

            &:first-child .btn
                width 80%

        .btn
            padding 0.8rem
            width 100%
            text-align left
            text-transform uppercase
            font-size 1.2rem
            font-weight bold
            color #999
            font-family "Source Sans Pro", Helvetica, Arial, sans-serif

            &.active
                box-shadow 0 0
                color basecolor
                // 'important' is necessary to override the JQuery property 'show' and is display 'inline'
                display inline-block !important

            &::before
                margin-right 0.5rem
                font normal normal normal 14px/1 FontAwesome

        span
            text-transform uppercase

        a:hover
            color darken(basecolor, 20%)

        #up-name
        #up-size
        #up-class
        #up-lastModification
            &::before
                display none

            &.active::before
                display inline-block

        // checkbox - select all items
        button#select-all
            outline none
            width 2em
            margin-right 0.375em
            border none
            background transparent
            text-align center
            color #999

            i.fa
                position relative
                top 3px
                margin 0
                font-size 16px

    // Popover displaying the file information onmouseover
    .file-info
        cursor: pointer
        img
            border-radius 5px
            border        5px black solid
            background-color black
        div /* corresponds to the arrow of the popover */
            position      : absolute
            transition    : top 0.2s ease
            left          : -4px
            border-bottom : 5px solid transparent  /* left arrow slant */
            border-top    : 5px solid transparent  /* right arrow slant */
            border-right  : 5px solid #000000      /* bottom, add background color here */
            font-size     : 0
            line-height   : 0


    // List of elements.
    [role="grid"]
        list-style-type none
        padding 0
        margin-bottom 0

        // Specific column styles
        .type-column-cell
        .size-column-cell
        .date-column-cell
            padding 0.8rem
            font-size .875em
            color #999
            text-align left

            &:first-letter
                text-transform capitalize

    // Generic row styles
    .itemRow
        // min-height 40px
        padding 0.425em 2rem
        border-bottom 1px solid #e5e5e5

        // the pacman (arrow) in charge to indicate where is the line selected by the focus.
        // &:before
        //     pacmanSize=6px
        //     pacmanColor=#6BD8FF
        //     content : ''
        //     width    : 0px
        //     height   : 0px
        //     position : relative
        //     left     :-7px
        //     top      : 11px
        //     border-right               : pacmanSize solid transparent
        //     border-top                 : pacmanSize solid pacmanColor
        //     border-left                : pacmanSize solid pacmanColor
        //     border-bottom              : pacmanSize solid pacmanColor
        //     border-top-left-radius     : pacmanSize
        //     border-top-right-radius    : pacmanSize
        //     border-bottom-left-radius  : pacmanSize
        //     border-bottom-right-radius : pacmanSize

        &:last-of-type
            border 0

        &:hover
            background #f5f5f5

            // Add ellipsis to folder/file's name which are too long
            // They width have to be even shorter on hover (because there are some actions displayed)
            [role="gridcell"] .caption .link-wrapper .btn-link
                @media (min-width: (1201/16)em)
                    max-width (550/16)em

                @media (max-width: (1200/16)em)
                    max-width calc(100vw - 34em)

                @media (max-width: (1000/16)em)
                    max-width calc(100vw - 15em)

                @media (max-width: (768/16)em)
                    max-width calc(100vw - 5em)

        &.selected
            background lightblue + 70%

        .caption-wrapper
            display flex

        [role="gridcell"]

            // Spinner.
            .spinholder
                z-index 10
                position absolute
                top 7px
                left 8px

                img
                    width 16px


            // Link to element.
            .caption
                font-size 16px
                font-family 'Source Sans Pro' , sans-serif
                padding 0
                margin-left 0px
                margin-right 10px

                // Rank is a temporary information to work on the list.
                span + span
                    margin-left 5px

                a.link-wrapper
                    display     flex
                    align-items center
                    // related to the position absolute of .spinholder
                    position relative


                    &:hover
                        border 0
                        text-decoration none

                        // Override default behaviour
                        a
                            color blue - 20%

                            &:focus
                                color white

                    // name + icon related to the file type
                    .btn-link
                        overflow hidden
                        text-overflow ellipsis
                        white-space nowrap

                        @media (min-width: (1201/16)em)
                            max-width (640/16)em

                        @media (max-width: (1200/16)em)
                            max-width calc(100vw - 26em)

                        @media (max-width: (1000/16)em)
                            max-width calc(100vw - 5em)

                        span
                            color #333

                    &:hover span
                        color basecolor

                // Rename folder/file + create new folder
                &.caption-edit
                    display flex
                    align-items center

            // Displayed in search results.
            .file-path
                color darkcolor
                font-family 'Source Sans Pro', sans-serif
                margin-bottom 0
                margin-left 3px

            // the input field to edit the name of the file/folder
            .file-edit-name
                min-width 150px
                margin-left : -11px

            // Tags list.
            .tags
                margin     : 0
                margin-top : 5px
                padding    : 0
                border     : none
                font-size  : 1.3rem

                input
                    padding-left  :   5px
                    width         : 120px
                    border-radius :   4px

                // typehead autocomplete
                .tt-hint
                  color: #999

                .tt-menu
                    width            : 360px
                    max-height       : 250px
                    overflow-y       : auto
                    margin           :   7px 0
                    padding          :   8px 0
                    background-color : #fff
                    border           :   1px solid #ccc
                    border-radius    :   8px
                    box-shadow       : 0 5px 10px rgba(0,0,0,.2)

                .tt-suggestion
                    padding     : 3px 20px
                    font-size   : 15px
                    line-height : 20px

                .tt-suggestion:hover
                    cursor           : pointer
                    color            : #fff
                    background-color : #0097cf

                .tt-suggestion.tt-cursor
                    color: #fff
                    background-color: #0097cf

                // style for the tags
                li.tag
                    display inline-block
                    padding 0.2em 0.5em
                    margin-top 0
                    margin-right 5px
                    border-radius 0.2em
                    background-color #e5e5e5
                    color #333
                    user-select none
                    cursor pointer

                    &:hover
                        background-color #d5d5d5
                        color #333
                        .deleter
                            color #FB8A8A

                    // delete icon
                    .deleter
                        cursor pointer
                        font-size (12/16)em
                        transform translate(0px, -1px)
                        color : #D0D0D0

                        &:hover
                            color red

                    &:focus
                    &:active
                        box-shadow 0 0

            // aligned right the operations
            .block-empty
                z-index -1
                flex    1

            // Toggle operations icon's color on hover.
            &:hover
                .operations
                    margin 0
                    margin-top (4/16)em
                    padding 0
                    a
                        padding-left 10px
                        color #BBBBBB
                .operations:hover
                    a
                        color blue

                .operations:hover
                    span:hover
                    i:hover
                    a:hover
                        color blue - 30%
