@import 'nib'
@import '_colors'


html, body
  height: 100%

body
  font-family: styled, helvetica
  background-image: url('../images/background.jpg');

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
  font-family: styled, helvetica

label
    font-weight: normal

.modal-content
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)

.modal-footer
    margin-top: 0


/*      FIXING BOOTSTRAP */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom
  margin-right: 0

textarea:hover,
input[type="text"]:hover,
textarea:active,
input[type="text"]:active,
textarea:focus,
input[type="text"]:focus
a:focus,
.btn:focus
     outline:0px !important
     -webkit-appearance:none
.btn[disabled=disabled], .btn:disabled
  opacity: 0.2


/*      COZY BUTTONS    */
.btn
  &.btn-cozy
    background-color: basecolor
    border-color: basecolor
    font-family: main
    color: white
    // position: relative for spinner
    position: relative

    &:hover
      background-color: actioncolor
      border-color: actioncolor

  &.btn-cozy.toggled
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
    background-color: basecolor - 10%

    &:hover
      background-color: actioncolor - 10%

  &.btn-cozy-contrast
    background-color: contrastcolor - 10%
    border-color: contrastcolor - 10%
    color: white

    &:hover
      background-color: actioncolor
      border-color: actioncolor

a
  cursor: pointer


/*      INPUTS          */
input
    border: 1px solid #ccc
    color: #33

input:focus
    color: #333
    border-color: basecolor

::selection
    background: actioncolor - 10%
    color: white
::-moz-selection
    background: actioncolor - 10%
    color: white

input#search-box
    height: 35px
    font-size: 16px
    margin-left: 5px
    padding-left: 25px
    width: 200px
    background-image: url("../images/iconmonstr-magnifier-icon-18.png")
    background-repeat: no-repeat
    background-position: 5px 8px

    &:focus
      outline none

.form-control
    min-height: 34px
    height: auto


/*      SHADOWS         */
.content-shadow
    background-color: white
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1)
    height: 100%

.shadow-down
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1)


/*      AFFIX           */
div#affixbar
  height: 45px
  z-index: 100
  width: 100%
  position: fixed

  .row
    background-color: white
    padding-top: 15px

    p
      margin-bottom: 5px

  a.btn
    height: 35px

  img
    height: 20px
    color: #C60

.affix-top
  color: blue

.affix
  position: fixed
  color: yellow

  .row
    -moz-box-shadow:    0 5px 7px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 5px 7px 0 rgba(0,0,0,0.2);
    box-shadow:         0 5px 7px 0 rgba(0,0,0,0.2);

#content
  padding-top: 45px

#loading-indicator
  position relative


/*      ITEMS           */
table
table#table-items
  margin-bottom: 10px

  .unactive
    opacity: 0.5

  td
      padding: 0px 5px 0 0
      height: 40px

  td.type-column-cell
  td.size-column-cell
  td.date-column-cell
    color: gray
    padding-top: 6px
    width: 100px

  td.date-column-cell
    width: 190px
    text-align: left

    &:first-letter
      text-transform capitalize

  .table-headers

    td:first-child
      padding-left: 3px

    td
      border-top: 0

    span
      line-height: 30px

    .btn
      top: -2px

    a:hover
      color: orange


tr.folder-row

  &:hover
    color: mediumcolor-contrast

    .operations
      display: inline

    .glyphicon.no-hover
      color: mediumcolor

    .file-path
      color: mediumcolor

  td
    vertical-align: middle

    div
    span
    ul
    li
    a
    i
      vertical-align: middle

  span.caption
    padding-left: 6px

  // the filename
  .caption
    font-size: 16px
    font-family: main
    padding: 0
    margin-left: 0px
    margin-right: 10px

  .caption:hover
    color: orange - 10%

  // the toolbox - delete, rename, etc
  .operations
    font-size: 16px
    display: none

    a
      padding-left: 5px
      color: blue

      span:hover
      i:hover
        color: orange

    a:hover
      color: orange

    .fa-lock
    .fa-users
    .fa-globe
        padding-top: 6px

  .caption-wrapper
    display: inline
    height: 100%

  ul.tags
    margin-bottom: 0
    padding-top: 5px
    padding-left: 10px
    padding-bottom: 0

    .tagit-close:hover
      span.text-icon
        text-color: orange

    .tagit-choice
      border: 0
      border-radius: 0
      background-color: blue + 90%
      cursor: pointer
      font-family: styled

      .tagit-label
        color: blue - 40%
        user-select: none

    .tagit-choice
      &:hover
        background-color: orange + 90%

        .tagit-label
          color: orange - 40%

    .tagit-choice
      &:focus
      &:active
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)

  ul.tags:hover
    .tagit-new
      display: inline-block

  ul.tagit
    display: inline-block
    border: none
    font-size: 1.3rem

    .tagit-new
      border: 1px solid lightgray
      border-radius: 6px
      width: 8rem
      padding: 0.2em 18px 0.2em 0.5em
      visibility: hidden
      input:focus
        visibility visible !important

    .tagit-new
        &:hover
          border: 1px solid orange

        &:focus
          border: 1px solid blue

  &:hover .tagit-new
    visibility: visible !important

  i.fa
    margin: 0 15px 0 0
    width: 20px

  .icon
    font-size: 14px

  &:hover .operations
    visibility: visible

    a
      color: lightgray

    a:hover
      color: orange

    a:active
      color: orange


.visible-lg.visible-md.visible-inline
  display: inline!important


/*      BREADCRUMBS     */
#crumbs
  overflow: hidden
  img
    height: 25px
    margin-top: 0px
    margin-left:-5px
    margin-right:-5px
  ul
    margin-top: 10px
    margin-bottom: 0px
    padding-left: 0
    list-style none
    display inline-table
    li
      display inline
      a
        display block
        float left
        height 35px
        background basecolor
        text-align center
        padding 8px 5px 0 22px
        position relative
        margin 10px 5px 0 0
        font-size 15px
        text-decoration none
        color #fff
        &:after
          content ""
          border-top 17px solid transparent
          border-bottom 17px solid transparent
          border-left 17px solid basecolor
          position absolute
          right -17px
          top 0
          z-index 1
        &:before
          content ""
          border-top 17px solid transparent
          border-bottom 17px solid transparent
          border-left 17px solid white
          position absolute
          left 0
          top 0
        &:hover
          background actioncolor
          &:after
            border-left-color actioncolor
      &:first-child
        a
          padding-left: 20px
          border-top-left-radius 10px
          border-bottom-left-radius 10px
          &:before
            display none
      &:last-child
        a
          padding-right 20px
          border-top-right-radius 10px
          border-bottom-right-radius 10px
          &:after
            display none

.table
  .tbody
    .td
      span
        display none

#clearancemanager
  label
    font-weight normal

#cozy-clearance-modal
  .modal-dialog
    width 700px

#share-list
    list-style-type: none
    margin-top 5px
    padding-left 5px

    select
        margin-left 5px
        background: white
        border-bottom: 1px solid lightcolor

        &:focus
            outline: none


#inherited-share-list
  li.header
    list-style-type none
    margin-left -30px
    font-weight bold

.linkshow
  margin-bottom 5px
  margin-left -5px
  padding-left 10px
  line-height: 20px

  label
      margin-top: 10px
      font-weight: normal

  input
    color #444
    width 70%

.typeahead.dropdown-menu > li > a
  padding: 3px 6px 3px 3px

.typeahead.dropdown-menu > li > a > img
  margin: 0 3px 0 0

.clearance-name
  font-size: 15px
  margin-left: 5px

  &:first-child
    margin-left: 50px

.clearance-btn
  font-size: 20px
  margin-left: 10px

.clearance-btn.revoke
  font-size: 12px

.clearance-line
  line-height: 47px
  border-bottom: 1px solid lightcolor
  padding-bottom: 5px

.notifs-label
  margin-top: 30px
  font-weight: normal
  margin-bottom: 0px

  input
    margin-right: 5px

#affixbar
  #crumbs
    ul
      margin-top: 0

    li
      a
        margin-top: 0

  #share-state
    font-size 14px
    line-height 21px
    span
      margin-left: 5px
      font-size 17px

.caption-edit
.file-edit-save
.file-edit-cancel
  margin-top: 5px

tr.folder-row
  .caption-edit
    i.fa
      margin-right: 9px

.spinner
    display: inline-block


.progress-name
  margin-bottom 8px
  height 20px
  line-height 20px

  span
    display inline-block
    overflow hidden

  .name
    font-weight bold
    white-space nowrap
    text-overflow ellipsis
    width: 150px
  .error
    color red
  .success
    color green
  .progressview
    display inline-block
    width: 380px
    .progress
      margin-bottom 0px

#uploader
    position: relative
    overflow: hidden
    cursor: pointer
    color white
    padding 6px 12px
    line-height 1.5
    min-height 34px
    width 100%
    background-color basecolor

    &:hover
      background-color basecolor + 10%
    &.active
      background-color orange

    .text
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        text-align: center
        line-height: 37px

    input
        cursor: pointer
        position: absolute
        width: 4000px
        display: block
        height: 3000px
        font-size: 300px
        top: 0px
        right: 0px
        line-height: 300px
        opacity: 0.01

.footer
  text-align: center
  color: grey
  font-style: italic

#content
  background: white
  padding-bottom: 10px

#files
  padding-top: 30px

  #no-files-indicator
    display none


// 404 page (not found)

body.error-404
  background #fff

body.error-404 .container
  display table
  overflow hidden
  position relative
  height 100%

body.error-404 .row
  display table-cell
  vertical-align middle

body.error-404 .error-frame
  padding 80px 40px
  background #fff
  border 10px solid blue
  font-size 25px
  text-align center

  .headline
    margin-bottom 50px
    font-size 30px
    color blue

.public
    #content
        padding-top: 70px

