@import 'nib'
@import '_colors'


html, body
    height: 100%

body
    font-family: 'Source Sans Pro', sans-serif
    background-image: url('../images/background.jpg')

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
    font-family: 'Maven Pro', sans-serif

label
    font-weight: normal


// Boostrap fix

.modal-footer
    margin-top: 0

.modal-sm
    width 300px
.modal-lg
    width 900px

.hidden
    display: none


/*      FIXING BOOTSTRAP */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom
    margin-right: 0

textarea:hover,
input[type="text"]:hover,
textarea:active,
input[type="text"]:active,
textarea:focus,
input[type="text"]:focus
a:focus,
.btn:focus
     outline:0px !important
     -webkit-appearance:none
.btn[disabled=disabled], .btn:disabled
    opacity: 0.2

.error
    color: red


// Helpers


.mt108
    margin-top: 108px

.modal-content
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)

.modal-footer
    margin-top: 0

.modal-sm
    width 300px
.modal-lg
    width 900px

.hidden
    display: none

.btn-link
.btn-link:visited
    color: basecolor - 30%

.btn-link:hover
    color: actioncolor - 10%
    text-decoration: none

.btn-link:active
    color: basecolor - 30%
    text-decoration: none

.btn-link:focus
    background: actioncolor - 10%
    color: white
    text-decoration: none

// buttons

a
    cursor: pointer

.btn
    position: relative

    &.btn-cozy
        background-color basecolor
        border-color basecolor
        font-family 'Source Sans Pro', sans-serif
        color white

        .caret
            border-top-color white
            border-bottom-color white

        &:hover
            background-color actioncolor
            border-color actioncolor

    &.btn-cozy.toggled
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)
        background-color basecolor - 10%

        &:hover
            background-color actioncolor - 10%

    &.btn-cozy-contrast
        background-color contrastcolor - 10%
        border-color contrastcolor - 10%
        color white

        &:hover
            background-color actioncolor
            border-color: actioncolor


// Inputs

input
    border: 1px solid #ccc
    color: #333

input:focus
    color: #333
    border-color: basecolor

::selection
    background actioncolor - 10%
    color white
::-moz-selection
    background actioncolor - 10%
    color white

input#search-box
    height 35px
    font-size 16px
    margin-left 5px
    padding-left 25px
    width 200px
    background-image url("../images/iconmonstr-magnifier-icon-18.png")
    background-repeat no-repeat
    background-position 5px 8px

    &:focus
      outline none

.form-control
    min-height: 34px
    height: auto


// Menu

div#affixbar
    height 45px
    z-index 100
    width 100%
    position fixed

    .row
        background-color white

        p
            margin-bottom 5px

        &:first-of-type
            padding-top 15px

    a.btn
        height 35px

    img
        height 20px
        color #C60

.affix-top
    color: blue

.affix
    position: fixed
    color: yellow

    .row
        -moz-box-shadow: 0 5px 7px 0 rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 5px 7px 0 rgba(0,0,0,0.2);
        box-shadow: 0 5px 7px 0 rgba(0,0,0,0.2);

#crumbs
    overflow hidden

    img
        height: 25px
        margin-top: 0px
        margin-left:-5px
        margin-right:-5px

    ul
        margin-top: 10px
        margin-bottom: 0px
        padding-left: 0
        list-style none
        display inline-table
        li
            display inline
            a
                display block
                float left
                height 35px
                background basecolor
                text-align center
                padding 8px 5px 0 22px
                position relative
                margin 10px 5px 0 0
                font-size 15px
                text-decoration none
                color #fff
                &:after
                    content ""
                    border-top 17px solid transparent
                    border-bottom 17px solid transparent
                    border-left 17px solid basecolor
                    position absolute
                    right -17px
                    top 0
                    z-index 1
                &:before
                    content ""
                    border-top 17px solid transparent
                    border-bottom 17px solid transparent
                    border-left 17px solid white
                    position absolute
                    left 0
                    top 0
                &:hover
                    background actioncolor
                    &:after
                        border-left-color actioncolor
            &:first-child
                a
                    padding-left: 20px
                    border-top-left-radius 10px
                    border-bottom-left-radius 10px
                    &:before
                        display none
            &:last-child
                a
                    padding-right 20px
                    border-top-right-radius 10px
                    border-bottom-right-radius 10px
                    &:after
                        display none

#affixbar
    #crumbs
        ul
            margin-top: 0

        li
            a
                margin-top: 0

    #share-state
            font-size: 18px
            line-height: 20px

    #folder-state
        font-family 'Maven Pro', sans-serif
        font-size 20px
        position relative
        top 5px
        color #666

        margin-right 10px

    // by default (private area) we don't display download and notif buttons
    #notifications
    #download-link
        display none


#bulk-actions-btngroup
    display none
    &.enabled
        display inline-block

    a
        border-radius 10px
        margin 0 2.5px

    // If two or more icons are used, they should be separated by a small margin.
    #button-bulk-move span.fa:not(:first-of-type)
        margin-left 5px

#uploader
    cursor: pointer

#upload-btngroup
    cursor: pointer

#button-upload-new-file
    position: relative
    overflow: hidden
    cursor: pointer
    color white
    padding 6px 12px
    line-height 1.5
    min-height 34px
    background-color basecolor

    &:hover
        background-color orange

#button-upload-new-file, #button-upload-folder
    input
        cursor: pointer
        position: absolute
        width: 200px
        display: block
        height: 45px
        font-size: 45px
        top: 0px
        right: 0px
        line-height: 45px
        opacity: 0.01
        z-index: 100

.table
    .tbody
        .td
            span
                display none

#clearancemanager
    label
        font-weight: normal


#cozy-clearance-modal
    .modal-dialog
        width 700px

    .input-group
        width 100%
        input
            width 90%
            height 34px
            line-height 1.428
            padding-left 5px
            -webkit-appearance button
        a.btn
            width 10%
            border-bottom-left-radius 0
            border-top-left-radius 0

p.disabled
    color: #999

#public-url.disabled
    color: #DDD
    background: #DDD
    cursor: default
    user-select: none

    &:hover
    &:active
    &:focus
        border: 1px solid #CCC

#share-list
    list-style-type: none
    margin-top 5px
    padding-left 5px

    // will allow inline-block children to be vertically aligned
    li
        font-size 0
        letter-spacing 0
        word-spacing 0

        span
            display inline-block
            vertical-align middle

            &.clearance-name
                max-width 190px
                overflow hidden
                text-overflow ellipsis
                white-space nowrap

        select
                vertical-align middle
                font-size 14px
                margin-left 5px
                background: white
                border-bottom: 1px solid lightcolor

                &:focus
                        outline: none


#inherited-share-list
    li.header
        list-style-type none
        margin-left -30px
        font-weight bold

.linkshow
    font-size 14px
    margin-bottom 5px
    margin-left -5px
    padding-left 10px
    line-height: 20px

    label
            margin-top: 10px
            font-weight: normal

    input
        color #444
        width 70%

.typeahead.dropdown-menu > li > a
    padding: 3px 6px 3px 3px

.typeahead.dropdown-menu > li > a > img
    margin: 0 3px 0 0

.clearance-name
    font-size: 15px
    margin-left: 5px

    &:first-child
        margin-left: 50px

.clearance-btn
    font-size: 16px
    margin-left: 10px

.clearance-line
    line-height: 47px
    border-bottom: 1px solid lightcolor
    padding-bottom: 5px

.notifs-label
    margin-top: 30px
    font-weight: normal
    margin-bottom: 0px

    input
        margin-right: 5px



// Loader

#loading-indicator
    position: absolute
    width: 25px
    height: 25px
    left: 50%


/*// File table

table
table#table-items
    margin-bottom: 10px

    .unactive
        opacity: 0.5

    td
        height: 40px

        .progress
            margin-bottom 0px

    td.type-column-cell
    td.size-column-cell
    td.date-column-cell
        padding-top: 10px
        color: gray
        width: 100px

    td.date-column-cell
        width: 190px
        text-align: left

        &:first-letter
            text-transform capitalize

    .table-headers

        td:first-child input[type=checkbox]
            width: 20px
            margin: 0 15px 0 0
            font-size: 16px

            &:focus
                outline none

        td
            border-top: 0

        span
            line-height: 30px

        .btn
            top: -2px

        a:hover
            color: orange

        #down-name
        #down-size
        #down-class
        #down-lastModification
            display: none



        button#select-all
            border none
            background transparent
            width 15px
            margin 0 15px 0 0
            padding 0

            i.fa
                font-size 16px
                margin 0

// override bootstrap styles
.table-hover > tbody > tr:hover > td
    background lightorange + 50%

tr.folder-row

    .file-path
        color darkcolor
        font-family 'Source Sans Pro', sans-serif
        margin-bottom 0
        margin-left 3px

    &:hover
        color mediumcolor-contrast

        .operations
            display inline

    &:hover, &.pseudohover
        .tags input
            visibility visible

    &.edit-mode
        .tags
                display none

        .spinholder
                display none

        .caption
                .icon-zone
                    .fa
                        display inline

                    .fa-folder-o
                            position relative
                            top: -3px

                .icon-zone:hover
                    .fa
                        display: inline-block
                    input[type=checkbox]
                        display: none

    // mandatory to override bootstrap
    &.selected > td
        background lightblue + 70% !important

    td
        vertical-align: baseline

        div
        span
        ul
        li
        a
        i
            vertical-align: baseline

        span.caption
            padding-left 3px // 3 for file and 6 for folder

        .caption-wrapper .fa-folder.spin
            animation spin 2s infinite ease-out

    // the filename
    .caption
        display inline-block
        font-size: 16px
        font-family: 'Source Sans Pro', sans-serif
        padding: 0
        margin-left: 0px
        margin-right: 10px

        .selector-wrapper
            display inline
            padding-top 4px

            button
                border none
                background transparent
                width 20px
                margin 0 10px 0 0
                padding 0

                i.fa
                    margin 0

        .icon-zone:hover
            .spinholder
                display none

        .fa-users
        .fa-share-alt
        .fa-globe
            position absolute
            top 10px
            left -3px
            font-size 12px
            z-index 10


        .link-wrapper
            display inline-block
            &:hover
                color orange - 10%
                border 0
                text-decoration none

                // Override default behaviour
                a
                    color orange - 10%

                    &:focus
                        color white


    .spinholder
        vertical-align: top
        display none
        margin 0
        padding 0 20px 0 0
        width 15px

    // the toolbox - delete, rename, etc
    .operations
        font-size: 16px
        margin: 0
        padding: 0
        display: none

        a
            padding-left: 10px
            color: blue

            span:hover
            i:hover
                color: orange

        a:hover
            color: orange

    .caption-wrapper
        display: inline
        height: 100%

    ul.tags
        margin: 0
        padding: 0
        margin-top: 5px
        display: inline-block
        border: none
        font-size: 1.3rem

        input
            visibility: hidden
            padding-left: 5px
            width: 100px

            &:focus
                visibility: visible

        li.tag
            display inline-block
            border 1px solid lightgray
            border-radius 6px
            padding 0.2em 0.5em 0.2em 0.5em
            margin-top 0px
            margin-right 5px
            border 1px solid transparent
            border-radius 0
            background-color blue + 90%
            cursor pointer
            font-family 'Maven Pro', sans-serif
            color blue - 40%
            user-select none

            .deleter
                cursor pointer
                font-size 10px
                transform translate(0px, -1px)
                &:hover
                    color orange - 40%

            &:hover
                border 1px solid orange
                background-color orange + 90%
                color orange - 40%

            &:focus
            &:active
                border 1px solid blue
                box-shadow 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)

    i.fa
        margin 0 15px 0 0
        width 15px

    .icon
        font-size: 14px

    &:hover .operations
        a
            color: lightblue - 30%

        a:hover
            color: orange

        a:active
            color: orange


tr.folder-row.uploading
    &:hover
        .operations
            display none


tr.folder-row.broken
    background-color #FEE

    .file-name
        color #333
        cursor: default

        &:hover
            color #333

    .broken-widget
        display inline

        .broken-text
            color red - 20%

        .broken-button
            margin-left 10px
            color red - 20%
*/
.visible-lg.visible-md.visible-inline
  display: inline!important


// Move widget

.move-widget
    padding 10px 10px 10px 35px

    .btn
        padding 2px 10px

    select
        min-width 150px
        margin-right 10px
        background white
        max-width 100%

#moved-infos
    margin-top 5px
    padding-left 35px
    color #333

.file-edit-name
    min-width 150px

/*
tr.folder-row td span.caption.caption-edit
    margin 0
    padding 0
    float left

    input.file-edit-name
        border 1px solid blue
        outline 0

        &:hover
            border 1px solid orange
            color #333

        &:active
        &:focus
            border 1px solid blue

tr.folder-row td input.caption
    margin-left 5px
    margin-top 2px

.file-edit-save
.file-edit-cancel
    margin-top 0px

.file-edit-save.disabled
    background grey
    border 1px solid grey

.file-edit-cancel.disabled
    color grey

tr.folder-row
    .caption-edit
        i.fa
            margin-right: 9px
*/

.spinner
        display: inline-block

.progress
    position relative
    background lightblue

    .progress-bar
        font-size 14px
        position absolute

        &.progress-bar-content
            width 100%
            background transparent
            color #fff
            text-align center

    .progress-name
        margin-bottom 8px
        height 20px
        line-height 20px

        span
            display inline-block
            overflow hidden

        .name
            font-weight bold
            white-space nowrap
            text-overflow ellipsis
            width: 150px
        .error
            color red
        .success
            color green
        .progressview
            display inline-block
            width: 380px
            .progress
                margin-bottom 0px

.footer
    text-align: center
    color: grey
    font-style: italic

#content
    background white
    padding-bottom 10px
    padding-top 90px

#content.mt108
    padding-top 108px

#files
    // margin-top 60px
    position relative

#files-drop-zone
    pointer-events none // prevent overlay from triggering dragleave
    display none
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    z-index 99

    .overlay
        opacity 0.4
        background grey
        width 100%
        height 100%
        position absolute

    .vertical-container
        display table
        width 100%
        height 100%

        p
            display table-cell
            vertical-align middle
            text-align center
            font-size 25px
            color 000
            margin auto

    #file-amount-indicator
    #no-files-indicator
        display none

#upload-status
    color: #31708f
    background-color: #d9edf7
    border-color: #bce8f1
    padding: 15px
    border: 1px solid transparent
    border-radius: 4px

    .btn
        margin-top -6px
        margin-right 5px

    .progress
        margin-right 5px
        width 300px

    &.success
        color: #3c763d
        background-color: #dff0d8
        border-color: #d6e9c6
    &.error
        color: #a94442
        background-color: #f2dede
        border-color: #ebccd1
    &.warning
        color: #8a6d3b
        background-color: #fcf8e3
        border-color: #faebcc

#tagsAutocomplete
    background-color: white
    border: 1px solid blue
    position: absolute
    width: 150px
    list-style-type: none
    padding-left: 0px

    &.empty
        border 0

    li
        padding-left: 5px

        &.selected, &:hover
            background-color orange + 40%



// 404 page (not found)

body.error-404
    background #fff

body.error-404 .container
    display table
    overflow hidden
    position relative
    height 100%

body.error-404 .row
    display table-cell
    vertical-align middle

body.error-404 .error-frame
    padding 80px 40px
    background #fff
    border 10px solid blue
    font-size 25px
    text-align center

    .headline
        margin-bottom 50px
        font-size 30px
        color blue

/*
    PUBLIC STYLES

    We hide some part of the UI that are not relevant in the public part
*/
.public

    #loading-indicator
        margin-top: 10px

    #affixbar
        #share-state
        #folder-state
        #upload-btngroup
        #button-new-folder
            display none

        #notifications
        #download-link
            display inline-block

        #bulk-actions-btngroup
            position: static

            #button-bulk-move
            #button-bulk-remove
                display: none

            #button-bulk-download
                border-radius: 4px

                span
                    padding: 0
                    font-size: 14px
                    font-weight: normal
                    font-family: 'Source Sans Pro', sans-serif

        #upload-buttons
            padding-left: 0
            margin-left: 0

        #download-link
            font-size: 14px
            font-weight: normal
            font-family: 'Source Sans Pro', sans-serif

        #search-box
            display: none

    &.can-upload #affixbar
        #upload-btngroup
        #button-new-folder
            display inline-block

    #files
        .tagit-new
        .tagit-close
        .operations
            // !important to prevent any manipulation from JS on mouseover
            display none !important

        // since we hide the close 'x' we must reduce parent's size
        .tagit-choice
            padding-right 0.5em !important

        .tags
                display: none
