@media screen and (max-width: 480px)
    // Landscape phones and down

    body
        text-rendering optimizeSpeed

@media screen and (max-width: 767px)
    // Landscape phone to portrait tablet

    body
        text-rendering optimizeSpeed

    .button-title-reponsive
        display: none
    

@media screen and (min-width: 768px) and (max-width: 992px)
    // Portrait tablet to landscape and desktop


@media screen and (min-width: 992px)
    // Desktop

