@media (max-width: 480px)
    // Landscape phones and down

    body
        text-rendering optimizeSpeed

    #content
        padding-top: 0px

    .table-headers
        display: none

    tr.folder-row .caption
        font-size: 14px

    #search-box
        width: 100%
        max-width: 185px

    #affixbar
        .pull-right
            display: none

        #upload-buttons
            a
                display: none

    #crumbs
        li
            a
                padding: 5px

    .modal-dialog
        max-width: 100%
        width: 100%

        #share-list li select.change-perm
            display block

        #share-list img
            display: none

@media (max-width: 768px)
    // Landscape phone to portrait tablet

    body
        text-rendering optimizeSpeed

    .button-title-reponsive
        display: none

    .type-column-cell
    .date-column-cell
    .size-column-cell
        display: none


    tr.folder-row
        ul.tags
            display: none

        .file-tags
        .file-delete
        .file-download
        .file-edit
        .file-share
        .file-move
            display: none

    .btn-link
        white-space: normal
        text-align: left

    #crumbs 
        ul
            li
                display: none

            li:first-child
            li:last-child
                display: inline

    #affixbar
        #upload-buttons
            a
                display: none

@media (max-width: 900px)
    tr.folder-row
        ul.tags
            display: none
            margin-top: 5px

@media (max-width: 1000px)
    .size-column-cell
        display: none

@media (max-width: 1200px)
    // Portrait tablet to landscape and desktop

    .type-column-cell
        display: none

    .application
        .container
            margin: 0
            width: 100%
            max-width: 100%
