@import 'nib'
@import '_colors'
@import '_main'
@import '_responsive'


/*
.flatbtn
    margin-top 10px
    margin-bottom 10px
    font-size 18px
    margin 2px 1%
    padding 10px 2%
    background-color blue
    color white
    border 0

.flatbtn:hover 
    text-decoration:underline

.flatbtn:active 
    text-decoration:underline
    color: orange


#bar
    background-color: Gainsboro

    .input-block-level
        margin-left 30px

    .add.flatbtn
        background-color blue
        color white
        text-decoration none

        #uploader
            display none

#content
    padding: 2em
    background-color white

#h4
    margin-top 10px
    margin-left 40px
    font-weight: bold

#file-list    

    .file 
        margin-left 20px
        margin-top 20px
        height 30px

        .delete
            background-color: white
            margin-left 5px

        .download
            background-color: white

    a:link 
        text-decoration:none
        color: black

    a:visited 
        text-decoration:none
        color: black

    a:hover 
        text-decoration:underline

    a:active 
        text-decoration:underline
        color: black

    a.button
        float: right
        text-align: left
        width: auto
        padding: 8px
        line-height: 16px
        font-size: 16px
        text-transform: lowercase
        background-color: white

    a.flatbtn.active
        background-color: black

#uploader
    margin-left 20px
    margin-top 20px
    margin-bottom 20px

#folder-list
 
    .folder 
        display block
        margin-left 20px
        margin-top 20px
        font-weight: bold
        height 30px

        .delete
            background-color: white

    a:link 
        text-decoration:none
        color: black

    a:visited 
        text-decoration:none
        color: black

    a:hover 
        text-decoration:underline

    a:active 
        text-decoration:underline
        color: black

*/
 