@font-face {
  font-family: styled;
  src: url("/fonts/maven-pro-light-300.otf");
}
@font-face {
  font-family: main;
  src: url("/fonts/signika-regular.ttf");
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #fcfcfc;
  font-family: main;
}
h1,
h2,
h3,
h4,
#name {
  font-family: styled;
}
#contacts-list {
  width: 50%;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
#contacts-list #toolbar {
  background-color: #d3d3d3;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contacts-list #toolbar input {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-right: 2px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
}
#contacts-list #toolbar input:focus {
  box-shadow: none;
  border: 1px solid #fe8800;
}
#contacts-list #contacts {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#contacts-list #contacts .contact-thumb {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f2f2f2;
  color: #555;
  padding: 3px;
}
#contacts-list #contacts .contact-thumb img {
  float: left;
  line-height: 100%;
  height: 64px;
  width: 64px;
}
#contacts-list #contacts .contact-thumb h2 {
  padding: 0px;
  margin: 0px;
  margin-left: 70px;
  font-size: 1.6em;
  overflow: hidden;
}
#contacts-list #contacts .contact-thumb span {
  display: block;
  float: left;
  margin-left: 6px;
}
#contacts-list #contacts .contact-thumb:nth-child(even) {
  background-color: #fff;
}
#contacts-list #contacts .contact-thumb.activated {
  background-color: #85caff;
}
#contacts-list #contacts .contact-thumb:hover {
  text-decoration: none;
  background-color: #fe8800;
}
#contacts-list #contacts .contact-thumb:focus {
  text-decoration: none;
}
#help,
#contact {
  width: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #e5e5e5;
  background-image: url("../img/background-right.jpg");
  box-shadow: 6px 0px 3px -2px #e5e5e5 inset;
}
#help a {
  width: 50%;
  display: block;
  background-color: #34a6ff;
  color: #fff;
  font-size: 2em;
  text-align: center;
  margin: 70px auto;
  padding: 10px;
}
#help a i {
  display: none;
}
#help a:hover {
  outline: 0px;
  text-decoration: none;
  background-color: #fe8800;
}
#help a:active {
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  background: #f18100;
}
#contact {
  padding-top: 50px;
}
#contact #close {
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  border-radius: 30px;
  line-height: 30px;
  background-color: #34a6ff;
  color: #fff;
}
#contact #close:hover {
  text-decoration: none;
  background-color: #fe8800;
}
#contact #close:active {
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  background: #f18100;
}
#contact #picture {
  display: block;
  position: absolute;
  border: 3px solid #34a6ff;
  left: 8px;
  top: 50px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
#contact #picture img.picture {
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
}
#contact #picture input#uploader {
  opacity: 0.01;
  cursor: pointer;
  position: absolute;
  left: 0px;
  border: 0px;
  font-size: 100px;
  bottom: 0px;
  margin: 0px;
  width: 64px;
  height: 114px;
}
#contact #picture #uploadnotice {
  width: 64px;
  height: 20px;
  background-color: #34a6ff;
  bottom: -20px;
  position: absolute;
  text-align: center;
  color: #fff;
}
#contact #picture:hover input#uploader {
  cursor: pointer;
}
#contact #picture:hover #uploadnotice {
  bottom: 0px;
  transition: 0.25s;
}
#contact input,
#contact textarea {
  border-radius: 0px;
  background-color: transparent;
  display: block;
  float: left;
  box-shadow: none;
  margin: 0px;
  border: 1px solid transparent;
}
#contact input:hover,
#contact textarea:hover {
  border: 1px solid #34a6ff;
}
#contact input:focus,
#contact textarea:focus {
  border: 1px solid #34a6ff;
  background-color: #fff;
  outline: none;
}
#contact #wrap-name-notes {
  position: absolute;
  top: 50px;
  left: 77px;
  right: 10px;
}
#contact #name {
  display: block;
  line-height: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  border-bottom: 1px solid #34a6ff;
}
#contact #name:focus {
  outline: none;
}
#contact #notes {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding-left: 15px;
  resize: none;
  border: 1px solid transparent;
  border-top: 0px;
}
#contact #notes:focus {
  border: 1px solid #34a6ff;
  border-top: 0px;
}
#contact #save {
  border-radius: 15px !important;
  position: absolute;
  top: 8px;
  left: 46px;
}
#contact #more {
  position: absolute;
  right: 10px;
  top: 8px;
  text-align: right;
}
#contact #more .btn {
  border-radius: 15px !important;
  border-bottom-right-radius: 0px !important;
}
#contact #more .dropdown-menu {
  text-align: left;
}
#contact #more .dropdown-menu a {
  cursor: pointer;
}
#contact #zones {
  position: absolute;
  top: 160px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#contact #zones .zone {
  width: 48%;
  margin: 1%;
  float: left;
}
#contact #zones .zone a.btn.add {
  display: inline-block;
  margin-left: 10px;
  opacity: 0;
}
#contact #zones .zone h2 {
  margin-left: 5px;
  font-weight: normal;
  border-bottom: 1px solid #d3d3d3;
}
#contact #zones .zone ul {
  margin: 0px;
}
#contact #zones .zone ul li {
  list-style-type: none;
}
#contact #zones .zone ul li .type:focus,
#contact #zones .zone ul li .value:focus {
  border: 1px solid #34a6ff;
}
#contact #zones .zone ul li .type {
  width: 25%;
  font-weight: bold;
}
#contact #zones .zone ul li .value {
  width: 65%;
}
#contact #zones .zone:hover a.btn.add {
  transition: 0.5s;
  opacity: 1;
}
#contact #spinOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  opacity: 0.4;
  font-size: 50px;
  line-height: 180px;
  text-align: center;
  display: none;
}
.btn {
  background: none;
  text-shadow: none;
  background-color: #34a6ff;
  border-radius: 0px !important;
  border: 0px;
  color: #fff;
}
.btn .caret {
  border-top: 4px solid #fff;
}
.btn.disabled {
  border: 1px solid #34a6ff;
  background-color: #d3d3d3;
}
.btn:not(.disabled):hover {
  background-color: #fe8800;
  text-decoration: none;
  color: #fff;
}
.btn:not(.disabled):active,
.btn:not(.disabled):focus {
  background-color: #34a6ff;
  color: #fff;
  text-decoration: none;
}
.btn:not(.disabled):active,
.btn.pressed {
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  background: #f18100;
}
.dropdown-menu {
  border-radius: 0px;
}
#importer {
  border-radius: 0px;
}
#importer .btn.disabled {
  color: #333;
}
#importer .modal-header {
  background-color: #34a6ff;
  color: #fff;
}
@media (max-width: 900px) {
  #contacts-list {
    width: 100%;
    top: 30px;
  }
  #help,
  #contact {
    width: 100%;
  }
  #help {
    height: 30px;
    padding: 1px;
    overflow: hidden;
  }
  #help a {
    width: 33.3%;
    height: 30px;
    line-height: 25px;
    margin: 0px;
    border-right: 1px solid #fff;
    font-size: 1em;
    float: none;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding: 5px;
  }
  #help a i {
    display: inline-block;
  }
  #help a:hover {
    outline: 0px;
    text-decoration: none;
    background-color: #fe8800;
  }
  #help a:active {
    box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
    background: #f18100;
  }
  #contact #zones .zone {
    width: 98%;
  }
}


/*@ sourceMappingURL=app.css.map*/