@font-face {
  font-family: styled;
  src: url("../fonts/maven-pro-light-300.otf");
}
@font-face {
  font-family: main;
  src: url("../fonts/source-sans-pro.ttf");
}
a {
  color: #34a6ff;
}
a:hover {
  color: #fe8800;
}
input,
select {
  border: 1px solid #34a6ff;
}
input:hover,
select:hover {
  border: 1px solid #fe8800;
}
.button {
  border: 0;
  background: #34a6ff;
  color: #fff;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  font-family: main;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
.button:hover {
  background: #fe8800;
  border: 0;
  color: #fff;
  text-decoration: none;
}
.button:active {
  background: #f68400;
  border: 0;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
  color: #fff;
}
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
.button.disabled:focus {
  background-color: #808080;
  padding: 10px;
  cursor: default;
  text-decoration: none;
}
.button.toggled {
  background-color: #008af6;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
}
.minor-button {
  padding: 10px;
}
.modal-header {
  font-family: styled;
  font-size: 26px;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-body {
  font-family: main;
}
.modal-body input,
.modal-body select,
.modal-body textarea {
  border: 1px solid #ccc;
  border-radius: 0;
  font-family: styled;
}
.modal-body input:hover,
.modal-body select:hover,
.modal-body textarea:hover {
  border: 1px solid #fe8800;
}
.modal-body input:focus,
.modal-body select:focus,
.modal-body textarea:focus {
  border: 1px solid #34a6ff;
  box-shadow: none;
}
.modal-body input:active,
.modal-body select:active,
.modal-body textarea:active {
  border: 1px solid #ccc;
  box-shadow: none;
}
.icon-sms,
.icon-voice,
.icon-mail {
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.icon-sms {
  background-image: url("../img/sms.png");
}
.icon-voice {
  background-image: url("../img/voice.png");
}
.icon-mail {
  background-image: url("../img/mail.png");
}
* {
  outline: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #fff;
  font-family: main;
}
h1,
h2,
h3,
h4 {
  font-family: styled;
}
a {
  cursor: pointer;
}
textarea {
  ont-family: main;
}
#contacts-list {
  width: 450px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
#contacts-list #toolbar {
  background-color: #e5eaef;
  height: 60px;
  padding: 1px;
  overflow: hidden;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contacts-list #toolbar input:focus {
  box-shadow: none;
  border: 1px solid #ffc47f;
}
#contacts-list #toolbar .input-append.input-prepend {
  float: left;
  width: 65.95744680851064%;
}
#contacts-list #toolbar .add-on {
  background-color: #d3d3d3;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border: 0px;
  height: 22px;
}
#contacts-list #toolbar .add-on i {
  margin-top: 2px;
}
#contacts-list #toolbar #filterfield {
  font-family: styled;
}
#contacts-list #toolbar #filterfield:active,
#contacts-list #toolbar #filterfield:focus {
  border: 1px solid #34a6ff;
}
#contacts-list #toolbar #filterClean {
  display: inline-block;
  position: relative;
  height: 26px;
  line-height: 13px;
  text-align: center;
  width: 26px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0px 0px 0px -28px;
  border: 0px;
  border-radius: 13px;
  z-index: 2;
}
#contacts-list #toolbar #filterClean .icon-remove {
  margin-top: 0;
}
#contacts-list #toolbar #new,
#contacts-list #toolbar #gohelp {
  padding: 0;
  margin-top: 3px;
  display: inline-block;
  float: left;
  margin-left: 2.127659574468085%;
  width: 14.893617021276595%;
  text-align: center;
  line-height: 26px;
}
#contacts-list #toolbar #new i,
#contacts-list #toolbar #gohelp i {
  margin-top: 2px;
}
#contacts-list #contacts {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#contacts-list #contacts .contact-thumb {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f2f2f2;
  color: #555;
}
#contacts-list #contacts .contact-thumb img {
  float: left;
  line-height: 100%;
  height: 60px;
  width: 60px;
}
#contacts-list #contacts .contact-thumb h2 {
  padding: 5px 0 0 0;
  margin: 0px;
  margin-left: 70px;
  font-size: 20px;
  font-family: main;
  line-height: 28px;
  overflow: hidden;
  font-weight: normal;
}
#contacts-list #contacts .contact-thumb span {
  display: block;
  float: left;
  margin-left: 12px;
  font-size: 13px;
}
#contacts-list #contacts .contact-thumb:active,
#contacts-list #contacts .contact-thumb:focus {
  outline: none;
}
#contacts-list #contacts .contact-thumb:nth-child(even) {
  background-color: #fff;
}
#contacts-list #contacts .contact-thumb.activated {
  background-color: #aedbff;
}
#contacts-list #contacts .contact-thumb:hover {
  text-decoration: none;
  background-color: #ffc47f;
}
#contacts-list #contacts .contact-thumb:focus {
  text-decoration: none;
}
#contact,
#doc {
  position: absolute;
  z-index: 3;
  left: 450px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #fcfcfc;
  box-shadow: 6px 0px 3px -2px #e5e5e5 inset;
}
#contact h3,
#doc h3 {
  font-size: 16px;
  font-weight: normal;
}
#contact #close,
#doc #close {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  border-radius: 30px;
  line-height: 30px;
  background-color: #34a6ff;
  color: #fff;
}
#contact #close:hover,
#doc #close:hover {
  text-decoration: none;
  background-color: #ffc47f;
}
#contact #close:active,
#doc #close:active {
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 0 0;
  background: #ffbb6c;
}
#doc {
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#doc h2 {
  margin-top: 30px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
#doc .important {
  color: #f00;
  font-size: 2em;
}
#contact h2 {
  font-family: styled;
}
#contact #picture {
  display: block;
  position: absolute;
  border: 1px solid transparent;
  left: 3%;
  top: 30px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
#contact #picture:hover {
  border: 1px solid #fe8800;
}
#contact #picture img.picture {
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
}
#contact #picture input#uploader {
  opacity: 0.01;
  cursor: pointer;
  position: absolute;
  left: 0px;
  border: 0px;
  font-size: 100px;
  bottom: 0px;
  margin: 0px;
  width: 64px;
  height: 114px;
}
#contact #picture #uploadnotice {
  width: 64px;
  height: 20px;
  background-color: #34a6ff;
  bottom: -20px;
  position: absolute;
  text-align: center;
  color: #fff;
}
#contact #picture:hover input#uploader {
  cursor: pointer;
}
#contact #picture:hover #uploadnotice {
  bottom: 0px;
  transition: 0.25s;
}
#contact input,
#contact textarea {
  border-radius: 0px;
  background-color: transparent;
  display: inline-block;
  box-shadow: none;
  margin: 0px;
  border: 1px solid transparent;
}
#contact input:hover,
#contact textarea:hover {
  border: 1px solid #fe8800;
}
#contact input:focus,
#contact textarea:focus {
  border: 1px solid #34a6ff;
  background-color: #fff;
  outline: none;
}
#contact #delete {
  text-decoration: none;
}
#contact #delete:hover {
  background-color: #f00;
}
#contact #wrap-name-notes {
  position: absolute;
  top: 30px;
  left: 120px;
  right: 3%;
}
#contact #wrap-name-notes #name-edit {
  display: none;
  float: right;
}
#contact #wrap-name-notes:hover #name-edit {
  display: inline-block;
}
#contact ul.tagit {
  border: 0px;
  padding-left: 0px;
}
#contact ul.tagit .tagit-choice {
  border-radius: 0px;
  background-color: #34a6ff;
  border-color: #34a6ff;
  border: 0;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  font-family: main;
  background: #ececec;
}
#contact ul.tagit .tagit-choice .tagit-label,
#contact ul.tagit .tagit-choice .tagit-close .text-icon {
  color: #888;
}
#contact ul.tagit .tagit-choice:hover {
  background: #fe8800;
  border: 0;
  cursor: pointer;
}
#contact ul.tagit .tagit-choice:hover .tagit-label,
#contact ul.tagit .tagit-choice:hover .tagit-close .text-icon {
  color: #fff;
}
#contact ul.tagit .tagit-choice:active {
  background: #f68400;
  border: 0;
  box-shadow: 1px 3px 2px rgba(0,0,0,0.2) inset, 0 1px 2px rgba(0,0,0,0);
}
#contact ul.tagit .tagit-label,
#contact ul.tagit .tagit-close .text-icon {
  color: #fff;
}
#contact ul.tagit input:focus {
  background-color: transparent;
  outline: none;
}
#contact #tags {
  display: none;
}
#contact #name {
  display: block;
  line-height: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 0px;
  font-family: main;
  font-size: 30px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
}
#contact #name:hover {
  border-bottom: 1px solid #fe8800;
}
#contact #name:focus,
#contact #name:active {
  border-bottom: 1px solid #34a6ff;
}
#contact #name:focus {
  outline: none;
}
#contact #save-info {
  position: absolute;
  top: 38px;
  right: 3%;
  height: 30px;
  line-height: 30px;
  padding: 0px 5px;
  background-color: #f9edbe;
}
#right,
#left {
  position: absolute;
  top: 120px;
  width: 47%;
}
#right h2,
#left h2,
#right .nav-tabs li a,
#left .nav-tabs li a {
  font-family: main;
  color: inherit;
  font-size: 24px;
  line-height: 40px;
  padding: 0px 5px;
  font-weight: normal;
  border-bottom: 1px solid #d3d3d3;
  margin-top: 0px;
}
#right .nav-tabs li a:hover,
#left .nav-tabs li a:hover {
  background-color: #ffb865;
}
#right .nav-tabs li a:focus,
#left .nav-tabs li a:focus,
#right .nav-tabs li a:active,
#left .nav-tabs li a:active {
  outline: none;
}
#right .nav-tabs li.active a,
#left .nav-tabs li.active a {
  background-color: #eee;
}
#right {
  right: 3%;
}
#right .nav-tabs {
  margin-top: 0px;
  margin-bottom: 0px;
}
#right #infotab {
  display: none;
}
#right textarea#notes {
  height: 200px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#right #history {
  width: 100%;
}
#right #history .history_item {
  width: 100%;
  clear: both;
}
#right #history .history_item .wrap {
  width: 70%;
  height: 1.1em;
  line-height: 1.1em;
  margin: 3px 10px;
  padding: 3px 0px;
  overflow: hidden;
}
#right #history .history_item .wrap .details,
#right #history .history_item .wrap .content {
  display: inline;
}
#right #history .history_item .wrap .content {
  color: #ccc;
}
#right #history .history_item.incoming .wrap {
  float: left;
  background-color: #fff;
  border-radius: 0.2em;
}
#right #history .history_item.outgoing .wrap {
  float: right;
  background-color: #f2f2f2;
  border-radius: 0.2em;
}
#right #history .history_item:hover .wrap {
  height: auto;
}
#right #history .history_item:hover .wrap .content {
  color: #000;
}
#right #history table {
  table-layout: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  margin: 10px 5%;
}
#right #history table thead {
  background-color: #34a6ff;
  color: #fff;
}
#right #history table tr td:nth-child(1),
#right #history table tr td:nth-child(2),
#right #history table tr th:nth-child(1),
#right #history table tr th:nth-child(2) {
  width: 18px;
}
#right #history table tr td:nth-child(3),
#right #history table tr th:nth-child(3) {
  width: 30%;
}
#right #history table tr td:nth-child(4) {
  overflow: hidden;
  white-space: nowrap;
}
#right #history table tr.injector {
  line-height: 0px;
  height: 2px;
}
#right #history table tr.injector td {
  background-color: #ffc47f;
  height: 2px;
  padding: 0px;
  position: relative;
}
#right #history table tr.injector td a {
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 5px;
  bottom: 0px;
  height: 20px;
  line-height: 20px;
  right: 0px;
  background-color: #ffc47f;
}
#left {
  left: 2%;
}
#left .zone {
  width: 93%;
  margin: 0% 1%;
  padding: 0px;
  float: left;
}
#left .zone a.btn.add {
  display: inline-block;
  background-color: #eee;
  color: #a9a9a9;
  font-weight: bold;
  background-image: none;
  border: 0px;
  padding: 0px 10px;
  margin: 5px 0px 0px 0px;
  border-radius: 0px;
  line-height: 30px;
  opacity: 0;
  text-shadow: none;
  width: auto;
}
#left .zone a.btn.add:hover {
  background-color: #fe8800;
  color: #fff;
}
#left .zone:hover a.btn.add {
  opacity: 1;
}
#left .zone ul {
  margin: 0px;
}
#left .zone ul li {
  list-style-type: none;
}
#left .zone ul li .type {
  width: 25%;
  font-family: styled;
}
#left .zone ul li .value {
  width: 55%;
  font-family: main;
}
#left .zone ul li .dpremove,
#left .zone ul li .dpaction {
  width: 5%;
  height: 20px;
  float: right;
  vertical-align: middle;
}
#left .zone ul li .dpremove {
  display: none;
}
#left .zone ul li:hover .dpremove {
  display: inline-block;
}
#contact #adder {
  margin-top: 20px;
  display: none;
}
#contact #adder h2 {
  display: none;
}
#contact h2 {
  font-family: styled;
}
#contact #right .nav-tabs li a {
  font-family: styled;
}
#contact #name {
  padding: 5px 10px 0px 3px;
  font-size: 26px;
}
#more-options,
#create-task {
  width: 100%;
  color: #999;
  background: #ececec;
  padding: 5px;
  margin-right: 10px;
}
#create-task:hover,
#more-options:hover {
  text-decoration: none;
  color: #fff;
  background: #fe8800;
}
#adder .button {
  padding: 3px;
  margin-right: 10px;
  color: #999;
  background: #ececec;
  font-weight: normal;
  line-height: 30px;
}
#adder .button:hover {
  text-decoration: none;
  color: #fff;
  background: #fe8800;
}
@media (max-width: 900px) {
  body {
    padding: 0;
  }
  #contacts-list #toolbar #new {
    float: right;
  }
  #contacts-list #toolbar #gohelp {
    display: none;
  }
  #contacts-list,
  #doc,
  #contact {
    width: 100%;
    left: 0px;
  }
  #contacts-list #close,
  #doc #close,
  #contact #close {
    display: block;
  }
  #contact {
    background: #fff;
  }
  #contact .nav-tabs,
  #contact .tab-content {
    width: 94%;
  }
  #contact #right {
    left: 3%;
    top: 160px;
    width: 97%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #contact #infotab {
    display: block;
  }
  #contact #left {
    width: 100%;
  }
  #contact #abouts.zone h2 {
    visibility: hidden;
    height: 10px;
  }
  #contact #left {
    width: 98%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 220px;
  }
  #contact #left .zone a.btn.add {
    display: none;
  }
  #contact #picture {
    top: 50px;
  }
  #contact #wrap-name-notes {
    top: 48px;
    left: 95px;
  }
  #contact #adder {
    display: none;
  }
}
@media (max-width: 600px) {
  #contact #name {
    padding-left: 0;
  }
  #contact #picture {
    display: none;
  }
  #contact #wrap-name-notes {
    left: 10px;
  }
  #contact #wrap-name-notes:hover #name-edit {
    display: none;
  }
}
#contacts-list.contact-widget #toolbar #new,
#contacts-list.contact-widget #toolbar #gohelp {
  display: none;
}
#contacts-list.contact-widget #toolbar input#filterfield {
  width: 100%;
}
.tagit-autocomplete.ui-widget-content {
  padding: 0;
  border: 1px solid #fe8800;
}
.tagit-autocomplete.ui-widget-content .ui-state-focus {
  border-radius: 0;
  background: #34a6ff;
  color: #fff;
  border: none;
  margin: 0 !important;
}


/*# sourceMappingURL=app.css.map*/