doctype
html
  head
    title Cozy - Files
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")

    script(src="javascripts/modernizr-2.6.1.js")
    script(src="cozy-realtime-adapter.js")
    script(src="socket.io/socket.io.js")
    link(rel="stylesheet", href="DIGEST(stylesheets/app.css)")

  body.application

    script!= imports
    script(src="DIGEST(javascripts/vendor.js)")
    script(src="DIGEST(javascripts/app.js)", onload="require('initialize');")
