h1 The content of #{name} has changed

p
    a(href=url) Click here to see what is new !

p
    | To unsubscribe from these notification,&nbsp;
    a(href=url + '&notifications=false') click here
    | .

p
    | Sent from Cozy.
