#spinOverlay: span saving ...

input#name(placeholder="Name", value="#{fn}")

div#picture
  if typeof(id) != 'undefined'
    img.picture(src="contacts/#{id}/picture.png")
  else
    img.picture(src="img/defaultpicture.png")
  #uploadnotice Change
  input#uploader(type="file")

a#close(href="#") &times;

textarea(rows="3", placeholder="Take notes here")#notes #{note}

#commands
  a.btn#save   Save
  a.btn#delete Delete
  .btn-group
    a.btn.dropdown-toggle(data-toggle="dropdown", href="#") Add
      span.caret
    ul.dropdown-menu.pull-right
      li: a.addbirthday Birthday
      li: a.addcompany Company
      li: a.addtitle Title
      li.divider
      li: a.addtel   Phone
      li: a.addemail Email
      li: a.addadr   Postal
      li: a.addurl   Url
      li: a.addother Other


#abouts.zone
  h2 About
    a.btn.add.addabout: i.icon-plus
  ul

#tels.zone
  h2 Phones
    a.btn.add.addtel: i.icon-plus
  ul

#emails.zone
  h2 Emails
    a.btn.add.addemail: i.icon-plus
  ul

#adrs.zone
  h2 Postal
    a.btn.add.addadr: i.icon-plus
  ul

#urls.zone
  h2 Links
    a.btn.add.addurl: i.icon-plus
  ul

#others.zone
  h2 Others
    a.btn.add.addother: i.icon-plus
  ul
