form#toolbar.form-search
    .input-append.input-prepend
        span.add-on: i.icon-search.icon-white
        input#filterfield.search-query.input-large(
            type="text", placeholder=t("search placeholder"))
        a.button#filterClean: i.icon-remove.icon-white

    a#new.button(href="#contact/new", title=t("add contact"))
      i.icon-plus.icon-white

    a#gohelp.button(href="#help", title=t("go to settings"))
      i.icon-cog.icon-white

#contacts
