a#new(href="#contact/new")
  i.icon-plus.icon-white
  span New Contact

a#importvcf(href="#import")
  i.icon-download.icon-white
  span Import vCard

a#exportvcf(href="contacts.vcf")
  i.icon-upload.icon-white
  span Export vCard