.modal-header= t("import vcard")
.modal-body
    .control-group
        label.control-label(for="vcfupload")= t("choose vcard file")
        .controls
            input#vcfupload(type="file")
            span.help-inline
.modal-footer
    a#cancel-btn(href="#").btn= t("cancel")
    a#confirm-btn.btn.disabled.btn-primary= t("import")