.modal-header Import vCard
.modal-body
    .control-group
        label.control-label(for="vcfupload") Choose a vCard file
        .controls
            input#vcfupload(type="file")
            span.help-inline
.modal-footer
    a#cancel-btn(href="#").btn Cancel
    a#confirm-btn.btn.disabled.btn-primary Import