@import '_cozy'

.icon-sms, .icon-voice, .icon-mail
  background-position 0px 0px
  width 16px
  height 16px
  margin-right 3px
.icon-sms
  background-image url('../img/sms.png')
.icon-voice
  background-image url('../img/voice.png')
.icon-mail
  background-image url('../img/mail.png')

box-sizing(n)
  -webkit-box-sizing n
  -moz-box-sizing n
  box-sizing n


bgcolor = #fcfcfc
shadowcolor = #444
basecolor = lightgrey + 40%
highlightcolor = #FFC47F
buttoncolor = #34a6ff
uploadcolor = #34a6ff
almostblack = #555555
grey = #CCC


*
    outline: none

html
  height 100%

body
  height 100%
  background-color bgcolor
  font-family main

h1, h2, h3, h4, #name
  font-family styled

// CONTACT LIST

#contacts-list
  width 450px
  position absolute
  left 0px
  top 0px
  bottom 0px
  right 0px

  #toolbar
    background-color: #AABACB + 70%
    height 60px
    padding 1px
    overflow hidden
    padding 10px
    box-sizing border-box

    input:focus
      box-shadow none
      border 1px solid highlightcolor

    .input-append.input-prepend
      float left
      width 65.95744680851064%

    // search logo
    .add-on
      background-color lightgrey
      border-top-left-radius 100%
      border-bottom-left-radius 100%
      border 0px
      height 22px
      i
        margin-top 2px

    #filterfield
      font-family: styled

    #filterfield:active
    #filterfield:focus
      border: 1px solid blue

    #filterClean
      display inline-block
      position relative
      height 26px
      line-height 13px
      text-align center
      width 26px
      padding 0px
      box-sizing border-box
      vertical-align middle
      margin 0px 0px 0px -28px
      border 0px
      border-radius 13px
      z-index 2

      .icon-remove
        margin-top: 0

    #new, #gohelp
      padding: 0
      margin-top: 3px
      display inline-block
      float left
      margin-left 2.127659574468085%
      width 14.893617021276595%
      text-align center
      line-height 26px
      i
        margin-top 2px

  #contacts
    position absolute
    top 50px
    bottom 0px
    left 0px
    right 0px

    .contact-thumb
      display block
      width 100%
      box-sizing border-box
      background-color basecolor + 50%
      color almostblack
      padding 3px

      img
        float left
        line-height 100%
        height 48px
        width 48px

      h2
        padding 0px
        margin 0px
        margin-left 54px
        font-size 20px
        line-height: 28px
        overflow hidden
        margin-top: 1px
        font-weight: normal

      span
        display block
        float left
        margin-left 6px
        font-size: 13px

    .contact-thumb:active
    .contact-thumb:focus
        outline: none

    .contact-thumb:nth-child(even)
      background-color white

    .contact-thumb.activated
      background-color buttoncolor + 60%

    .contact-thumb:hover
      text-decoration none
      background-color highlightcolor

    .contact-thumb:focus
      text-decoration none


#contact, #doc
  position absolute
  z-index 3
  left 450px
  right 0px
  top 0px
  bottom 0px
  background-color basecolor
  background-image url('../img/background-right.jpg')
  box-shadow: 6px 0px 3px -2px basecolor inset

  h3
    font-size: 16px
    font-weight: normal
    

  #close
    display none
    position absolute
    top 8px
    right 8px
    width 30px
    height 30px
    text-align center
    font-size 30px
    border-radius 30px
    line-height 30px
    background-color buttoncolor
    color white

  #close:hover
    text-decoration none
    background-color highlightcolor
  #close:active
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0
    background: highlightcolor - 5%

#doc
  padding 40px
  box-sizing border-box

  h2
      margin-top: 30px
      font-weight: normal
      border-bottom: 1px solid #CCC

#contact

  #picture
    display block
    position absolute
    border 1px solid grey
    left 3%
    top 30px
    width 64px
    height 64px
    overflow hidden

    &:hover
        border 1px solid orange


    img.picture
      position absolute
      display block
      width 64px
      height 64px

    input#uploader
      opacity 0.01
      cursor pointer
      position absolute
      left 0px
      border 0px
      font-size 100px
      bottom 0px
      margin 0px
      width 64px
      height 114px

    #uploadnotice
      width 64px
      height 20px
      background-color buttoncolor
      bottom -20px
      position absolute
      text-align center
      color white

  #picture:hover
    input#uploader
      cursor pointer
    #uploadnotice
      bottom 0px
      transition 0.25s


  input, textarea
    border-radius 0px
    background-color transparent
    display inline-block
    box-shadow none
    margin 0px
    border 1px solid transparent

    &:hover
      border 1px solid orange

    &:focus
      border 1px solid blue
      background-color white
      outline none

  #delete
    text-decoration none

  #delete:hover
    background-color red

  #wrap-name-notes
    position absolute
    top 30px
    left 114px
    right 3%


  ul.tagit
    border 0px
    padding-left: 15px

    .tagit-choice
      border-radius 0px
      background-color buttoncolor
      border-color buttoncolor
      border: 0
      box-shadow: none
      text-shadow: none
      border-radius: 0
      font-family: main
      background: #ECECEC

      .tagit-label, .tagit-close .text-icon
          color: #888

    .tagit-choice:hover
        background: orange
        border: 0
        cursor: pointer

    .tagit-choice:hover .tagit-label
    .tagit-choice:hover .tagit-close .text-icon
          color: white

    .tagit-choice:active
        background: orange - 3%
        border: 0
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.0)

       .tagit-label, .tagit-close .text-icon
          color: white

    input
      &:focus
        background-color transparent
        outline none

  #tags
    display none

  #name
    display block
    line-height 1em
    box-sizing border-box
    width 100%
    padding-left 15px
    font-size 30px
    font-weight bold
    margin-bottom 0px
    border-bottom 1px solid grey

    &:hover
        border-bottom 1px solid orange

    &:focus
    &:active
        border-bottom 1px solid blue

  #name:focus
    outline none

  #save-info
    position absolute
    top 38px
    right 3%
    height 30px
    line-height 30px
    padding 0px 5px
    background-color #f9edbe


#right, #left
  position absolute
  top 120px
  width 47%

  h2, .nav-tabs li a
    font-family styled
    color inherit
    font-size 24px
    line-height 40px
    padding 0px 5px
    font-weight normal
    border-bottom 1px solid lightgrey
    margin-top: 0px

#right
  right 3%

  .nav-tabs
    margin-top: 0px
    margin-bottom 0px

  #infotab
    display none

  textarea#notes
    width 100%
    box-sizing border-box

  #history
    width 100%

    .history_item
      width 100%
      clear both

      .wrap
        width 70%
        height 1.1em
        line-height 1.1em
        margin 3px 10px
        padding 3px 0px
        overflow hidden

        .details, .content
          display inline
        .content
          color grey

      &.incoming .wrap
        float left
        background-color white
        border-radius .2em
      &.outgoing .wrap
        float right
        background-color basecolor + 50%
        border-radius .2em

      &:hover .wrap
        height auto
        // .details, .content
        //   display block
        .content
          color black



    table
      table-layout fixed
      box-sizing border-box
      width 90%
      margin 10px 5%
      thead
        background-color buttoncolor
        color white

      tr
        td:nth-child(1), td:nth-child(2), th:nth-child(1), th:nth-child(2)
          width 18px
        td:nth-child(3),  th:nth-child(3)
          width 30%
        td:nth-child(4)
          overflow hidden
          white-space nowrap

      tr.injector
        line-height 0px
        height 2px
        td
          background-color highlightcolor
          height 2px
          padding 0px
          position relative
          a
            display block
            position absolute
            box-sizing border-box
            padding 0px 5px
            bottom 0px
            height 20px
            line-height 20px
            right 0px
            background-color highlightcolor


#left
  left 2%

  .zone
    width 93%
    margin 0% 1%
    padding 0px
    float left

    a.btn.add
      display block
      width 100%
      height 30px
      background-color lightgrey + 70%
      background-image none
      border 0px
      padding 0px
      margin 5px 0px 0px 0px
      border-radius 0px
      line-height 30px
      opacity 0
      text-shadow: none

      &:hover
        background-color orange
        color: white

    &:hover a.btn.add
        opacity 1

    ul
      margin 0px
      li
        list-style-type none

        .type
          width 25%
          font-family styled

        .value
          width 55%
          font-family main

        .dpremove, .dpaction
          width 5%
          height 20px
          float right
          vertical-align middle

        .dpremove
          display none

        &:hover .dpremove
          display inline-block

#contact
    #adder
        display: none
        
        h2
            display: none

#more-options
    top: 30px
    width: 100%
    color: #999
    background: #ECECEC
    padding: 5px

#more-options:hover
    text-decoration: none
    color: white
    background: orange

#adder
    .button
        padding: 3px
        margin-right: 10px
        color: #999
        background: #ECECEC
        font-weight: normal
        line-height: 30px

    .button:hover
        text-decoration: none
        color: white
        background: orange


@media (max-width: 900px)

    #contacts-list, #doc, #contact
        width 100%
        left 0px

        #close
          display block

    #contact
      background: white

      #right
        left 3%
        top 120px
        width 94%

      #infotab
        display block

      #right, #left
        width 100%

      #abouts.zone h2
        visibility hidden
        height 10px

      #left
        top 160px
        display none

      #picture
        top 33px

      #adder
        display: block
