@font-face
    font-family: styled
    src: url('/fonts/maven-pro-light-300.otf');

@font-face
    font-family: main
    src: url('/fonts/signika-regular.ttf');

bgcolor = #fcfcfc
shadowcolor = #444
basecolor = lightgrey + 40%
highlightcolor = #fe8800
buttoncolor = #34a6ff
uploadcolor = #34a6ff

html
  height 100%

body
  height 100%
  background-color bgcolor
  font-family main

h1, h2, h3, h4, #name
  font-family styled



#contacts-list
  width 50%
  position absolute
  left 0px
  top 0px
  bottom 0px
  right 0px

  #toolbar
    background-color lightgrey
    height 40px
    box-sizing border-box

    input
      display block
      box-sizing border-box
      width 100%
      height 100%
      margin-right 2px
      background-color transparent
      border 1px solid transparent
      border-radius 0px
      box-shadow none
      margin 0px

    input:focus
      box-shadow none
      border 1px solid highlightcolor

  #contacts
    position absolute
    top 40px
    bottom 0px
    left 0px
    right 0px

    .contact-thumb
      display block
      width 100%
      // height 70px
      box-sizing border-box
      background-color basecolor + 50%
      color black
      padding 3px

      img
        float left
        line-height 100%
        height 64px
        width 64px

      h2
        padding 0px
        margin 0px
        margin-left 70px
        font-size 1.6em
        overflow hidden

      span
        display block
        float left
        margin-left 6px


    .contact-thumb:nth-child(even)
      background-color white

    .contact-thumb.activated
      background-color buttoncolor + 40%

    .contact-thumb:hover
      text-decoration none
      background-color highlightcolor

    .contact-thumb:focus
      text-decoration none


#help, #contact
  width 50%
  position absolute
  right 0px
  top 0px
  bottom 0px
  background-color basecolor
  background-image url('../img/background-right.jpg')
  box-shadow: 6px 0px 3px -2px basecolor inset

#help
  a
    width 50%
    display block
    background-color buttoncolor
    color white
    font-size 2em
    text-align center
    margin 70px auto
    padding 10px

    i
      display none

  a:hover
        outline 0px
        text-decoration none
        background-color highlightcolor

  a:active
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0
    background: highlightcolor - 5%

#contact

  padding-top 50px

  #close
    display block
    position absolute
    top 8px
    left 8px
    width 30px
    height 30px
    text-align center
    font-size 30px
    border-radius 30px
    line-height 30px
    background-color buttoncolor
    color white

  #close:hover
    text-decoration none
    background-color highlightcolor
  #close:active
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0
    background: highlightcolor - 5%


  #picture
    display block
    position absolute
    border 3px solid buttoncolor
    left 8px
    top 50px
    width 64px
    height 64px
    overflow hidden

    img.picture
      position absolute
      display block
      width 64px
      height 64px

    input#uploader
      opacity 0.01
      cursor pointer
      position absolute
      left 0px
      border 0px
      font-size 100px
      bottom 0px
      margin 0px
      width 64px
      height 114px

    #uploadnotice
      width 64px
      height 20px
      background-color buttoncolor
      bottom -20px
      position absolute
      text-align center
      color white

  #picture:hover
    input#uploader
      cursor pointer
    #uploadnotice
      bottom 0px
      transition 0.25s


  input, textarea
    border-radius 0px
    background-color transparent
    display block
    float left
    box-shadow none
    margin 0px
    border 1px solid transparent

  #name
    position absolute
    top 45px
    left 78px
    right 10px
    display block
    line-height 1em
    width auto
    padding-left 15px
    font-size 30px
    font-weight bold
    margin-bottom 0px
    border-bottom 1px solid buttoncolor

  #name:focus
    outline none

  #notes
    display block
    position absolute
    padding-left 15px
    width auto
    top 78px
    left 77px
    right 10px
    resize none
    border 1px solid transparent
    // border-bottom-right-radius 20px
  #notes:focus
    border 1px solid buttoncolor

  #save
    border-radius 15px !important
    position absolute
    top 8px
    left 46px

  #more
    position absolute
    right 10px
    top 8px
    text-align right
    .btn
      border-radius 15px !important
      border-bottom-right-radius 0px !important

    .dropdown-menu
      text-align left
      a
        cursor pointer

  #zones
    position absolute
    top 150px
    left 0px
    right 0px
    bottom 0px

    .zone
      width 48%
      margin 1%
      float left
      a.btn.add
        display inline-block
        margin-left 10px
        opacity 0

      h2
        margin-left 5px
        font-weight normal
        border-bottom 1px solid lightgrey

      ul
        margin 0px
        li
          list-style-type none
          .type:focus
          .value:focus
            border 1px solid buttoncolor

          .type
            width 25%
            font-weight bold

          .value
            width 65%

    .zone:hover
      a.btn.add
        transition 0.5s
        opacity 1

  #spinOverlay
    position absolute
    top 0px
    left 0px
    height 100%
    width 100%
    background-color black
    color white
    opacity 0.4
    font-size 50px
    line-height 180px
    text-align center
    display none


.btn
  background none
  text-shadow none
  background-color buttoncolor
  border-radius 0px !important
  border 0px
  color white

  .caret
    border-top 4px solid white

.btn.disabled
  border 1px solid buttoncolor
  background-color lightgrey

.btn:not(.disabled):hover
  background-color highlightcolor
  text-decoration none
  color white

.btn:not(.disabled):active
.btn:not(.disabled):focus
  background-color buttoncolor
  color white
  text-decoration none

.btn:not(.disabled):active, .btn.pressed
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0
    background: highlightcolor - 5%

.dropdown-menu
  border-radius 0px

#importer
  border-radius 0px
  .btn.disabled
    color #333333
  .modal-header
    background-color buttoncolor
    color white


@media (max-width: 900px)

    #contacts-list
        width 100%
        top 30px

    #help, #contact
        width 100%

    #help
        height 30px
        padding 1px
        overflow hidden

        a
          width 33.3%
          height 30px
          line-height 25px
          margin 0px
          border-right 1px solid white
          font-size 1em
          float none
          display inline-block
          box-sizing border-box
          overflow hidden
          text-align center
          padding 5px

          i
            display inline-block

        a:hover
          outline 0px
          text-decoration none
          background-color highlightcolor

        a:active
          box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2) inset, 0 0 0
          background: highlightcolor - 5%

    #contact #zones .zone
        width 98%