if model.id == "root"
    li
        a(href="#")
            span.glyphicon.glyphicon-folder-open
else
    if model.attributes.type == "search"
        li
            a(href="#search/#{model.id}")
                | #{model.attributes.name}
    else
        li
            a(href="#folders/#{model.id}")
                | #{model.attributes.name}
