if model.id == "root"
  li
    a(href="#")
      span.glyphicon.glyphicon-home
else
  if model.type == "search"
    li
      a(href="#search/#{model.id}")
        | #{model.name}
  else
    li
      a(href="#folders/#{model.id}")
        | #{model.name}
