td
  if model.type && model.type == "folder"
    a.img-folder
      img(src="images/folder.png")
  else
    span.glyphicon.glyphicon-file.no-hover.icon
  input.caption.file-edit-name(value=model.name)
  a.btn.btn-sm.btn-cozy.file-edit-save
    | #{t("file edit save")}
  a.btn.btn-sm.btn-link.file-edit-cancel
    | #{t("file edit cancel")}
td
td.file-date
  span.pull-right 12:00 12/10/2013
