extends file

block title
  span.caption.caption-edit.btn.btn-link
    if model.type && model.type == "folder"
      span.icon-zone
        if clearance == 'public'
          span.fa.fa-globe
          i.fa.fa-folder-o
        else if clearance && clearance.length > 0
          span.fa.fa-globe
          i.fa.fa-folder-o
        else
          i.fa.fa-folder
        div.spinholder
          img(src="images/spinner.svg")
    else
      if model.mime && mimeClass
        i(class="fa #{mimeClass}")
      else
        i.fa.fa-file-o
    input.caption.file-edit-name(value=model.name)
  a.btn.btn-sm.btn-cozy.file-edit-save
    | #{t("file edit save")}
  a.btn.btn-sm.btn-link.file-edit-cancel
    | #{t("file edit cancel")}

block actions
  // empty!
