extends file

block title
  span.caption.caption-edit.btn.btn-link
    if model.type && model.type == "folder"
      span.icon-zone
        div.spinholder
          img(src="images/spinner.svg")
        i.fa.fa-folder
    else
      if model.mime && this.mimeClasses[model.mime]
        i(class="fa #{this.mimeClasses[model.mime]}")
      else
        i.fa.fa-file-o
    input.caption.file-edit-name(value=model.name)
  a.btn.btn-sm.btn-cozy.file-edit-save
    | #{t("file edit save")}
  a.btn.btn-sm.btn-link.file-edit-cancel
    | #{t("file edit cancel")}

block actions
  // empty!
