#bar
    input.flatbtn#uploader(type="file") 
    input.input-block-level(type="text", value="", id="name", placeholder="Folder name")
    button.add.flatbtn Create new folder
#content
    #h4 #{model.slug}
    #folders
    #files