#affixbar(data-spy="affix", data-offset-top="1")
  .container
    .row
      .col-lg-12
        #crumbs.pull-left
        p.pull-right
          input#search-box(type="search")
          #upload-buttons.pull-right
            a.btn.btn-cozy#share-state.btn-cozy-contrast
            | &nbsp;
            a#button-upload-new-file.btn.btn-cozy.btn-cozy(title=t('upload button'))
              img(src="images/add-file.png")
            | &nbsp;
            a.btn.btn-cozy#button-new-folder(title=t('new folder button'))
              img(src="images/add-folder.png")
            | &nbsp;
            //a#download-link.btn.btn-cozy(title=t("download"))
            //  i.icon-arrow-down.icon-white
            span &nbsp;


.container
  .row
    .col-lg-12#content
      #files
      #files-drop-zone
        .overlay
        .vertical-container
          p= t('drop message')
