nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      span.navbar-brand Cozy Files
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      ul.nav.navbar-nav

      ul.nav.navbar-nav.navbar-right
        p
          a.btn.btn-cozy(style="margin-top: 7px")
            | Upload a file to "silly cats"

#content.container
  .row.content-background

    .col-lg-12.content-right-column

      #crumbs
        ul
          li
            a
              span.glyphicon.glyphicon-folder-open  
          li
            a personal
          li
            a photos
          li
            a silly cats


      table#table-operations.table.table-hover
        tbody
          tr.folder-row
            td
              span.glyphicon.glyphicon-folder-close  
              a.btn.btn-link
                | little grumpy cat
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-folder-close  
              a.btn.btn-link
                | little grumpy cat
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-folder-close  
              a.btn.btn-link
                | little grumpy cat
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-folder-close  
              a.btn.btn-link
                | little grumpy cat
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013

          tr.folder-row
            td
              span.glyphicon.glyphicon-file  
              a.btn.btn-link
                | sweet kitty on a bicycle.jpg
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-file  
              a.btn.btn-link
                | sweet kitty on a bicycle.jpg
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-file  
              a.btn.btn-link
                | sweet kitty on a bicycle.jpg
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-file  
              a.btn.btn-link
                | sweet kitty on a bicycle.jpg
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-file  
              a.btn.btn-link
                | sweet kitty on a bicycle.jpg
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-file  
              a.btn.btn-link
                | sweet kitty on a bicycle.jpg
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-file  
              a.btn.btn-link
                | sweet kitty on a bicycle.jpg
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-file  
              a.btn.btn-link
                | super sweet kitty.jpg
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-file  
              a.btn.btn-link
                | super sweet kitty.jpg
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
          tr.folder-row
            td
              span.glyphicon.glyphicon-file  
              a.btn.btn-link
                | super sweet kitty.jpg
              .operations
                a
                  span.glyphicon.glyphicon-remove-circle  
                a
                  span.glyphicon.glyphicon-edit  
                a
                  span.glyphicon.glyphicon-cloud-download  
            td.operation-title
            td.operation-amount
              span.pull-right 12:00 12/10/2013
