.modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title #{t("upload caption")}
      .modal-body
        #progress-total
        fieldset
          .form-group
            #uploader
              div.text #{t("upload msg")}
              input(type="file", multiple)
        #progress-part
      .modal-footer
        button.btn.btn-link#modal-dialog-no(type='button', data-dismiss='modal') #{t("upload close")}
        button.btn.btn-cozy-contrast#modal-dialog-yes(type='button', disabled="disabled") #{t("upload send")}